{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}


<div class="form-signin w-100 m-auto">

    <form method="post" class="needs-validation">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control {%if form.errors%}is-invalid{%endif%}" name="email" id="email"
                placeholder="Email">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control {%if form.errors%}is-invalid{%endif%}" name="password" id="pwd"
                placeholder="Password">
            <label for="pwd">Password</label>
            <div class="invalid-feedback">
                incorrect email or password
            </div>
        </div>


        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <a href="{% url 'users:password_reset' %}">Forgot password?</a>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</div>
{% endblock %}