{% extends 'base.html' %}
{% block title %}
Password reset
{% endblock %}
{% block content %}
<h1>Password reset</h1>
<hr>
<div class="form-signin w-100 m-auto">
    <form action="{% url 'users:password_reset' %}" method="post">
        {% csrf_token %}
        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            <label for="email">Email address</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>
</div>
{% endblock %}