{% extends 'base.html' %}

{% block title %}
Password reset
{% endblock %}
{% block content %}

{% if validlink %}
<div class="form-signin w-100 m-auto">

    <form method="post" class="needs-validation">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please enter your new password twice so we can verify you typed it in correctly
        </h1>
        <div class="form-floating">
            <input type="password" class="form-control {%if form.errors%}is-invalid{%endif%}" name="new_password1"
                id="newPassword1" placeholder="new password">
            <label for="email">new password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control {%if form.errors%}is-invalid{%endif%}" name="new_password2"
                id="newPassword2" placeholder="repeat new password">
            <label for="pwd">repeat new password</label>
            <div class="invalid-feedback">
                {{form.new_password1.errors}}
                {{form.new_password2.errors}}
            </div>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</div>



{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}
{% endblock %}